<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema de Solicitudes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Peticiones</h1>
	<form th:action="@{/cargarPeticion}" th:object="${EmpleadoLicencia}" method="post" >
 		<p>Desde:<input type="date" placeholder="Desde" th:field="*{ diaAlta}" required></p>
		<p>Hasta:<input type="date" placeholder="Hasta" th:field="*{diaHasta}" required></p>
<!-- 		<p>Motivo de la licencia:<input type="text" placeholder="Ingrese el motivo" th:field="*{tipoDeLicencia}" required></p> -->
		<p><input type="submit" value="Enviar"><input type="reset" value="Limpiar"></p>
	</form>
</body>
</html>